body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOnxddsj64elpZXUUlZrWTL1xNhCmPlHQrkLch1ACL4EU3GOQoTRU8RrhQkSn94pPwLz0&usqp=CAU');
    background-repeat: no-repeat ;
    background-position: center ;